<% layout("/layouts/boilerplate.ejs")  %>
<body>
    <h1>All Listings</h1>
<ul>   
    <%for (let listing of allListings){%>
            <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
    <%}%>
</ul>

    <!-- <form action="/listings/new" method="GET">
        <button>Edit YOur Listing</button>
    </form> -->
</body>

